/* Corpo */
body {
    font-size: 14px;
    background-color: Gainsboro;
    font-family: Helvetica, sans-serif, Arial;
}

h1 {
    color: brown;
    font-weight: bold;
}

h2 {
    color: Coral;
    font-style: italic;
}

header {
    font-size: 15px;
}

nav {
    background-color: #363636;
}

/* Footer */

/* Main Footer */
footer .main-footer {
    padding: 10px 0;
    background: #363636;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

/* footer final */
.footer-copyright {
    background: #4F4F4F;
    padding: 5px 0;
}

    .footer-copyright .logo {
        display: inherit;
    }

    .footer-copyright nav {
        float: right;
        margin-top: 5px;
    }

        .footer-copyright nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }


            .footer-copyright nav ul li:first-child {
                border: medium none;
                padding-left: 0;
            }

    .footer-copyright p {
        color: #fff;
        margin: 2px 0 0;
    }



/* Footer 4 */
.footer- .logo {
    display: inline-block;
}

/* Widgets  */
.widget {
    padding: 20px;
    margin-bottom: 40px;
}

    .widget.widget-last {
        margin-bottom: 0px;
    }

    .widget.no-box {
        padding: 0;
        background-color: transparent;
        margin-bottom: 10px;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .widget.subscribe p {
        margin-bottom: 0px;
    }

    .widget li a {
        color: Coral;
    }

        .widget li a:hover {
            color: #FFFF00;
        }

.widget-title {
    margin-bottom: 10px;
}

    .widget-title span {
        background: #FFFF00 none repeat scroll 0 0;
        display: block;
        height: 1px;
        margin-top: 25px;
        position: relative;
        width: 20%;
    }

        .widget-title span::after {
            background: PaleGoldenrod;
            content: "";
            height: inherit;
            position: absolute;
            top: -4px;
            width: 50%;
        }

    .widget-title.text-center span, .widget-title.text-center span::after {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #fff;
}

/* Botão Youtube */
ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
}

    ul.social-footer2 li {
        display: inline-block;
        padding: 0;
    }

        ul.social-footer2 li a:hover {
            background-color: FireBrick;
        }

        ul.social-footer2 li a {
            display: block;
            height: 30px;
            width: 30px;
            text-align: center;
        }
